*{
	font-family: Arial;
}

#invisible{
	color: lightgrey;
}

h1{
	text-align: center;
	font-size: 56px;
}


#wrapper {
	margin: 0 auto;
    width: 1000px;
} 


header{
	background-color: lightgrey;
	font-size: 16pt;
}

#logo1{
	padding: 20px 0 20px 200px;
}

nav{
	background-color: #bf3f4c;
	text-align: right;
	padding: 5px 40px 5px 10px;

}

nav ul li{
	list-style: none;
	display: inline;
	color: white;
	font-style: bold;
	font-size: 22px;
	padding-right: 20px;
}

#row1{
	width: 1000px;
	float: left;
	text-align: center;
	padding: 0 0 0 0px;
	/*background-color: lime;*/
}


#col1{
	float: left;
	width: 470px;
	text-align: center;
	padding: 0 0 0 30px;
	/*background-color: orange;*/
}

#col2{
	float :left;
	width: 470px;
	text-align: center;
	padding: 0 0 0 0px;
	/*background-color: yellow;*/
}


footer{
	float:left;
	background-color: lightgrey;
	text-align: center;
	padding: 15px 0;
	font-size: 10pt;
	width: 1000px;
}


.content  p{
	font-size: 15pt;
}




